 <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'menu_list' %}">Jamal Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'menu_list' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'offer_products' %}">Special Offers/Discounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'our_story' %}">Our Story</a>
          </li>
          <nav class="menu">
  <ul>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories</a>
      <ul class="dropdown-menu">
        {% for category in navbar_categories %}
        <li class="dropdown-submenu">
          <a href="{% url 'menu_item_list_by_category' category.slug %}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <ul class="dropdown-menu">
            {% for subcategory in category.subcategories.all %}
            <li><a href="{% url 'menu_item_list_by_subcategory' subcategory.slug %}">{{ subcategory.name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </li>

  </ul>

          </nav>
         </ul>
       <div id="icons">
          {% with total_items=cart|length %}
                    {% if total_items > 0 %}

                      <a href="{% url "cart_detail" %}">
                          <i class="bi bi-cart4"></i>{{ total_items }} item{{ total_items|pluralize }}
                      </a>

                    {% else %}
{#                        <i class="bi bi-cart4"></i>#}
                    {% endif %}
                  {% endwith %}


       </div>
      {% if request.user.is_authenticated %}
        <li class="nav-item px-3"id="orderlog" >
            <a class=""  href="{% url 'order_history' %}">Order History</a>
       </li>
       <li class="nav-item" id="orderlog">
            <a class="" href="{% url 'logout' %}">Logout</a>
       </li>


   {% else %}

       <li class="nav-item px-3" id="orderlog">
            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
       </li>
      <li class="nav-item" id="orderlog">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
       </li>
  {% endif %}

      </div>
    </div>
  </nav>
