@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

body {
    overflow-x: hidden;
    background: url(../images/bg.png);
    width: 100vw;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
.coffee .coffee1 h1{
    padding-top: 200px;
    padding-left: 50px;
}
.coffee .coffee2{
 padding-top: 100px;
}
img .vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
  }
  img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
  }
  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
  }
