@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&family=Ephesis&display=swap');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    overflow-x: hidden;
    background: url(../images/bg.png);
    width: 100vw;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
a
{
    text-decoration: none;
}
.product-card {
    width: 230px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 50px auto;
    background: #6B3E28;
    font-family: 'Comfortaa', sans-serif;
    border-radius: 5px;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;

}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h5 a {
    font-weight: 600;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #e4bc84;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h5 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #B47A63;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #e4bc84;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}
form{
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
form .form-control{
  border-radius: 50px;
}
form .btn{
  background-color: #6B3E28;
  color: #e4bc84;
  border-radius: 50px;
}
form .btn:hover{
  background-color: #e4bc84;
}

.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  font-family: 'Comfortaa', sans-serif;
  display:inline-block;
  color: #6B3E28;
  border-radius:3px 3px 0px 0px;
  
}
.panels{
    
  width:90%;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel,
#four:checked ~ .panels #four-panel,
#five:checked ~ .panels #five-panel,
#six:checked ~ .panels #six-panel,
#seven:checked ~ .panels #seven-panel
{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab,
#four:checked ~ .tabs #four-tab,
#five:checked ~ .tabs #five-tab,
#six:checked ~ .tabs #six-tab,
#seven:checked ~ .tabs #seven-tab
{
  font-weight: 600;
  color: #B47A63;
  border-bottom: 3px solid #6B3E28;
}

.site-footer {
  background: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 600;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
  font-family: 'Comfortaa', sans-serif;
}
.site-footer .detail{
  color: #B47A63;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.site-footer h6 {
  color: #6B3E28;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  text-shadow: 2px 7px 5px rgba(233, 230, 230, 0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
  font-weight: 600;
}

.site-footer a {
  color: #B47A63;
  text-decoration: none;
}

.site-footer a:hover {
  color: #6B3E28;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #B47A63
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #6B3E28;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
      margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
      padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
      text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: grey;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:950px) {
  body{
    background-size: cover;
  }
  .social-icons li.title {
      display: block;
      margin-right: 0;
      font-weight: 600
  }
}

.tabs a{
    text-decoration: none;
    color: #6B3E28;
}